<h1>My Tasks</h1>

<h2>My current tasks :</h2>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed ? "✅" : "⬜" %>
      <%= link_to(task.title, task_path(task.id)) %>
      <%= link_to " ❌", task_path(task.id), method: :delete %>
    </li>
    <% end %>
</ul>
<div class="button">
  <%= link_to("Add a task", new_task_path) %>
</div>
